<div class="container">
  <div class="row">
      <div class="col">
          <p class="h3 fw-bold text-success">Add New Review</p>
          <p class="fst-italic">This page allows you to add to the current reviews.</p>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-sm-4">
          <form (submit)="addNewReview()">
              <div class="mb-2">
                  <input [(ngModel)]="rName" class="form-control" name="name" placeholder="Name" type="text">
              </div>
              <div class="mb-2">
                  <input [(ngModel)]="rRating" class="form-control" name="rating" placeholder="Rating" type="rating">
              </div>
              <div class="mb-2">
                  <input [(ngModel)]="rDescription" class="form-control" name="description" placeholder="Description" type="text">
              </div>
              <div class="mb-2">
                  <!-- <input class="btn btn-success" value="Create" type="submit"> -->
                  <button
          class="btn btn-primary"
          routerLink="/"
          (click)="addNewReview()"
        >
          Create Review
        </button>
                  <a class="btn btn-dark ms-2" routerLink="/">Close</a>
              </div>
          </form>
      </div>
  </div>
</div>