<h1>Image Gallery</h1>
<p class="fst-italic text-center">
Here are some before and after images from work we've done for clients. We assure you that you will receive the same quality service!
</p>
<div class="image-container">
  <div class="image-item" *ngFor="let image of images">
    <img [src]="image" alt="Image">
  </div>
</div>

<mat-grid-list cols="12" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
    [innerHTML]="tile.text"
    [class.lightgreen-tile]="tile.color.includes('green')"
    [class.black-tile]="tile.color.includes('black')">
  </mat-grid-tile>
</mat-grid-list>
