<nav class="navbar justify-content-center">
  <form class="form-inline ng-untouched ng-pristine ng-valid">
    <button type="button" class="btn btn-outline-success">HOME</button>
    <button type="button" class="btn btn-outline-success">SCHEDULE CLEANING</button>
    <button type="button" class="btn btn-outline-success">CLEANING SERVICES</button>
    <button type="button" class="btn btn-outline-success">GALLERY</button>
    <button type="button" class="btn btn-outline-success">REVIEWS</button>
    <button type="button" class="btn btn-outline-success">SALES</button>
  </form>
</nav>
<app-home></app-home>