<!-- <nav class="navbar justify-content-center">
  <form class="form-inline ng-untouched ng-pristine ng-valid">
    <button type="button" class="btn btn-success">HOME</button>
    <button type="button" class="btn btn-success">SCHEDULE CLEANING</button>
    <button type="button" class="btn btn-success">CLEANING SERVICES</button>
    <button type="button" class="btn btn-success">GALLERY</button>
    <button type="button" class="btn btn-success">REVIEWS</button>
    <button type="button" class="btn btn-success">SALES</button>
  </form>
</nav> -->
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/gallery">Gallery</a>
</nav>
<router-outlet></router-outlet>
<app-home></app-home>