nav {
  text-align: center;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: lightgreen;
  color: black;
  border-style: solid;
}

nav a:hover {
  color: lightgreen;
  background-color: black;
}
nav a:active {
  background-color: black;
}