.card {
  max-width: 700px;
  margin: 0 auto;
}

.card-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-label {
  font-weight: bold;
}

.alert {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
